


.rightContainer{
    width: 75vw;
    height: 100vh;
    background: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
 
    
}

.topButtons{
    margin-top: -1rem;
}
.topButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
}
.topTable{
    display: flex;
    justify-content: space-between;
    width: 75vw;
    margin: 0;
    padding: 0;
    align-items: center;
}

.topTable h2{
    color: white;
    font-family: Poppins;
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
    margin-bottom: 0.8rem;
    margin-left: 1rem;
    
}

.tableWrapper{
    width: 75vw;
    height: 80vh;
    background: #f1f1f1;
    border-radius: 1rem  ;
  
}


.tableWrapper{
padding: 0.5rem;
   overflow-y: scroll;
}


.boxWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noStudents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noStudents p{
    color: #454545;
    font-family: Lato;
    font-weight: 700;
}
.noStudents h3{
    color: rgb(108, 107, 107);
    font-family: Lato;
    font-size: 2rem;
    margin-top: 1rem;
}

.blkCapacity{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    
}

.noBlocks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blkCapacity p{
    margin-bottom: 1rem;
    color: #454545;
    font-family: Lato;
    font-weight: 700;
}
.noBlocks p{
    margin-bottom: 1rem;
    color: #454545;
    font-family: Lato;
    font-weight: 700;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}