


.topButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0rem;
    margin-bottom: 0.5rem;
}
.topTable{
    
    display: flex;
    justify-content: space-between;
    width: 75vw;
    margin: 0;
    padding: 0;
    align-items: center;
    margin-top: 4rem;
}

.topTable h2{
    color: rgb(62, 61, 61);
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
    margin-bottom: 0.8rem;
    margin-left: 1rem;
    
}

.tableWrapper{
    
    width: 75vw;
    height: 66vh;
    background: #f1f1f1;
    border-radius: 1rem;
    z-index: 2;
}


.tableWrapper{


   overflow-y: scroll;
   background: #efeeee;
   box-shadow: rgba(0, 0, 0, 0.08) 0px 5px 15px;
    outline: 1px solid #d9d8d8;

}
.tableWrapper2{
    
    width: 75vw;
    height: 66vh;
    background: #f1f1f1;
    border-radius: 1rem;
    margin-bottom: 2rem;
    z-index: 2;
}


.tableWrapper2{


   overflow-y: scroll;
   background: #efeeee;
   box-shadow: rgba(0, 0, 0, 0.08) 0px 5px 15px;
    outline: 1px solid #d9d8d8;

}


.topButtons{
    margin-top: -1rem;
}.bottomButtons{

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 0rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}


.left{
    visibility: hidden;
}
.right{
    visibility: hidden;
}

.topTableWrapper{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
