

.topButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0rem;
    margin-bottom: 0.5rem;
}


.middle{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
}
.topTable{
    
    display: flex;
    justify-content: space-between;
    width: 102.5rem;
    margin: 0;
    padding: 0;
    align-items: center;
    margin-top: 4rem;
}

.topTable h2{
    color: rgb(62, 61, 61);
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
    margin-bottom: 0.8rem;
    margin-left: 1rem;
    
}

.tableWrapper{
    position: relative;
    width: 102.5rem;
    height: 38.3rem;
    background: #f1f1f1;
    border-radius: 1rem;
    z-index: 2;
    overflow-y: scroll;
    background: #efeeee;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 5px 15px;
     outline: 1px solid #d9d8d8;
     overflow-x: hidden;
}





.topButtons{
    margin-top: -1rem;
}.bottomButtons{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0rem;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
}


.left{
    visibility: hidden;
}
.right{
    visibility: hidden;
}

.topTableWrapper{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addButton{

    
}

/* @media screen and (max-width: 500px) {
    .topTable h2{
        color: rgb(62, 61, 61);
        font-family: Poppins;
        font-size: 1rem;
        font-weight: 600;
        margin: 0;
        padding: 0;
        margin-bottom: 0.8rem;
        margin-left: 0.8rem;
    
    }    
} */

@media screen and (max-width: 700px) {

    .tableWrapper{
        height: 70vh;
    }
}
