

.studentDepParent{
    background: #f6f6f6;
    height: 84svh;
    display: flex;

    justify-content: space-evenly;
  
}


a {
    text-decoration: none;
    font-family: Poppins;
    font-weight: 600;
    font-size: 1.5rem;
}

.leftContainer{
height: 84svh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}

.sidebarWrapper ul{
    display: flex;
    flex-direction: column;
}


.sidebarWrapper h2{
 
    color: white;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
    font-size: 1.5rem;
    margin: 1.3rem;
}

.sidebarWrapper img{
    width: 1.4rem;
    margin-right: 1rem;
}


.sidebarWrapper li *.active{
    color: white;
}

.sidebarWrapper div{

    display: flex;
    filter: brightness(0.7);
    align-items: center;
}
.sidebarWrapper div.active{
    filter: brightness(1);
}

.logo{
    object-fit: cover;
    position: fixed;
    filter: grayscale(1) opacity(0.1);
    width: 50rem;

    top: 60%;
    right: -10%;
}


