


.topButtons{
    display: flex;
 
    align-items: center;
    margin-right:2.4rem;
    margin-bottom: 0.5rem;
}

.topTable{
    
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    margin-top: 4rem;
}

.topTable h2{
    color: rgb(62, 61, 61);
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
    margin-bottom: 0.8rem;
    margin-left: 0rem;
    
}

.tableWrapper{
    
    width: 90rem;

    height: 66vh;
    background: #f1f1f1;
    border-radius: 1rem  ;
  
}


.tableWrapper{


   overflow-y: scroll;
   background: #efeeee;
   box-shadow: rgba(0, 0, 0, 0.08) 0px 5px 15px;
    outline: 1px solid #d9d8d8;
    z-index: 2;
    margin-right: 1rem;
    width: 90rem;
    height: 37rem;
    max-height: 90rem;
}

.tableLoad{
    width: 24rem;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 5px 15px;
    background: #efeeee;
    border-radius: 1rem  ;
    height: 37rem;
    max-height: 90rem;
    outline: 1px solid #d9d8d8;
    overflow-y: scroll;
}

.facultyAssignWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 90rem;
    max-width: 90rem; */
    /* outline: 1px solid red; */
}


.topTableWrapper{
    /* width: 100vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* outline: 1px solid gray; */
    
}

.topButtons{
    margin-top: -1rem;
}


.boxWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.noStudents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noStudents p{
    color: #454545;
    font-family: Lato;
    font-weight: 700;
}
.noStudents h3{
    color: rgb(108, 107, 107);
    font-family: Lato;
    font-size: 2rem;
    margin-top: 1rem;
}

.blkCapacity{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    
}

.noBlocks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blkCapacity p{
    margin-bottom: 1rem;
    color: #454545;
    font-family: Lato;
    font-weight: 700;
}
.noBlocks p{
    margin-bottom: 1rem;
    color: #454545;
    font-family: Lato;
    font-weight: 700;
}

form{
    display: flex;
    flex-direction: column;

}

.bottomButtons{

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2%;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
    width: 90rem;
}


.middle{
    visibility:hidden;
}

.left{
    visibility: hidden;
}

/* .topButtons{
    visibility: hidden;
} */

.block-unit-wrapper{
    display: flex;
}

.course-title-field{
    display: flex;
}

.status-room-wrapper{
    display: flex;
}

@media screen and (max-width: 700px) {

    .tableWrapper{
        height: 70vh;
    }
    .tableLoad{
        height: 70vh;
    }
}

.timeWrapper{
    display: flex;
}


