.navParent{
    height: 12svh;
    display: flex;
    justify-content: space-between;
 
    margin: 0.6rem 0.5rem 0.6rem 3rem;
    box-sizing: border-box;
}

.leftNav{
    display: flex;
    
}

.imgWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    flex-direction: column;
}

.imgWrapper img{
    object-fit: cover;
    width: 6rem;
}

.imgWrapper p{
    margin: 0;
    padding: 0;
    margin-top: 0.2rem;
    color: #0D4FAD;
    font-family: Poppins;
    font-style: italic;
    font-weight: 700;
    font-size: 0.9rem;
}

.leftNavText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


.leftNavText h2{
    margin: 0;
    color: #0D4FAD;
    font-family: Poppins;
    font-style: italic;
    font-size: 2rem;
}
.leftNavText span{

    color: #D3600C;
  
}
.leftNavText h3{
    margin: 0;
    font-family: Poppins;
    white-space: nowrap;
    font-size: 1rem;
}

.rightNav{
    display:flex;
    align-items: end;

}

.rightNav h3{
    font-family: Poppins;
    font-weight: 600;
    margin: 0;
    padding: 0;
    font-size: 1rem;
  
}


.subNav{
    height: 4svh;
    background: #0d4daa;
    display: flex;
    justify-content:space-between;
    align-items: center;
  
}


.subNav h3{
    font-family: Poppins;
    font-weight: 500;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
    text-align: center;
    padding: 0.3em 0.5em;
    transition: all 0.3s ease;

}
.subNav h3:hover{
    font-family: Poppins;
    font-weight: 500;
    color: white;
  
    cursor: pointer;
    text-align: center;
    background: #5585cd9d;

    border-radius: 5px;
}

.active{
    font-family: Poppins;
    font-weight: 500;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
    text-align: center;
    background: #5585cd9d;
    padding: 0.3em 0.5em;
    border-radius: 5px;

}

.subNavWrapper{
    display: flex;
    justify-content: space-evenly;
    width: 40rem;
}

.subNavWrapper .logout{
    display: none;
}
.logout{

}
.left{
    visibility: hidden;
}

@media screen and (max-width: 769px) {
    .subNav{
        height: 6svh;
        background: #0d4daa;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .subNav h3{
        font-family: Poppins;
        font-weight: 500;
        color: white;
        font-size: 0.6rem;
        cursor: pointer;
        text-align: center;
        padding: 0.3em 0.5em;
        transition: all 0.3s ease;
    }
    .subNavWrapper{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
    .active{
        font-family: Poppins;
        font-weight: 500;
        color: white;
        font-size: 0.7rem;
        cursor: pointer;
        text-align: center;
        background: #5585cd9d;
        padding: 0.5em 0.5em;
        border-radius: 3px;

    }


    .imgWrapper img{
        object-fit: cover;
        width: 4rem;
    }

    .leftNavText{
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    }


    .leftNavText h2{
        margin: 0;
        color: #0D4FAD;
        font-family: Poppins;
        font-style: italic;
        font-size: 1.2rem;
    }
    .leftNavText span{

        color: #D3600C;
  
    }
    .leftNavText h3{
        margin: 0;
        font-family: Poppins;
        white-space: nowrap;
        font-size: 0.4rem;
    }

    .rightNav{
        display: flex;
        align-items: end;
    }

    .rightNav h3{
        font-family: Poppins;
        font-weight: 600;
        margin: 0;
        padding: 0;
        font-size: 0.4rem;
    }



    .navParent{
        height: 12svh;
        display: flex;
        justify-content: space-between;
        padding: 0.5em;
        margin: 0 0.2rem 0 0.5rem;
        box-sizing: border-box;
    }
    .logout{

        
    }

    .imgWrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0.5rem;
        flex-direction: column;
    }

    .imgWrapper p{
        margin: 0;
        padding: 0;
        margin-top: 0.2rem;
        color: #0D4FAD;
        font-family: Poppins;
        font-style: italic;
        font-weight: 700;
        font-size: 0.6rem;
    }
    .subNav .logout{
        position: static;
      
    }

    .logout{
        width: 3rem;
    }
    .left{
        display: none;
    }


}
@media screen and (max-width: 480px) {
    .subNav{
        height: 6svh;
        background: #0d4daa;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .subNav h3{
        font-family: Poppins;
        font-weight: 500;
        color: white;
        font-size: 0.6rem;
        cursor: pointer;
        text-align: center;
        padding: 0.3em 0.5em;
        transition: all 0.3s ease;
    }
    .subNavWrapper{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
    .active{
        font-family: Poppins;
        font-weight: 500;
        color: white;
        font-size: 0.7rem;
        cursor: pointer;
        text-align: center;
        background: #5585cd9d;
        padding: 0.5em 0.5em;
        border-radius: 3px;

    }


    .imgWrapper img{
        object-fit: cover;
        width: 4rem;
    }

    .leftNavText{
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    }


    .leftNavText h2{
        margin: 0;
        color: #0D4FAD;
        font-family: Poppins;
        font-style: italic;
        font-size: 1.2rem;
    }
    .leftNavText span{

        color: #D3600C;
  
    }
    .leftNavText h3{
        margin: 0;
        font-family: Poppins;
        white-space: nowrap;
        font-size: 0.4rem;
    }

    .rightNav{
        display: flex;
        align-items: end;
    }

    .rightNav h3{
        font-family: Poppins;
        font-weight: 600;
        margin: 0;
        padding: 0;
        font-size: 0.4rem;
    }



    .navParent{
        height: 12svh;
        display: flex;
        justify-content: space-between;
        padding: 0.5em;
        margin: 0 0.2rem 0 0.5rem;
        box-sizing: border-box;
    }
    .logout{

        
    }

    .imgWrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0.5rem;
        flex-direction: column;
    }

    .imgWrapper p{
        margin: 0;
        padding: 0;
        margin-top: 0.2rem;
        color: #0D4FAD;
        font-family: Poppins;
        font-style: italic;
        font-weight: 700;
        font-size: 0.6rem;
    }
    .subNav .logout{
        position: static;
      
    }

 
    .subNavWrapper .logout{
        display: block;
    }

    .right{
        display: none;
    }
    .left{
        display: none;
    }

}
