



.topButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0rem;
    margin-bottom: 0.5rem;
}

.topTable{
    
    display: flex;
    justify-content: space-between;
    width: 75vw;
    margin: 0;
    padding: 0;
    align-items: center;
    margin-top: 4rem;
}

.topTable h2{
    color: rgb(62, 61, 61);
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
    margin-bottom: 0.8rem;
    margin-left: 1rem;
    
}

.tableWrapper{
    
    width: 75vw;
    height: 70vh;
    background: #f1f1f1;
    border-radius: 1rem  ;
  
}


.tableWrapper{


   overflow-y: scroll;
   background: #efeeee;
   box-shadow: rgba(0, 0, 0, 0.08) 0px 5px 15px;
    outline: 1px solid #d9d8d8;
    z-index: 2;
}

.topTableWrapper{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topButtons{
    margin-top: -1rem;
}


.boxWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noStudents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noStudents p{
    color: #454545;
    font-family: Lato;
    font-weight: 800;
    font-size: 16px;
}
.noStudents h3{
    color: #454545;
    font-family: Lato;
    font-weight: 800;
    font-size: 16px;
}

.blkCapacity{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
    
}
.blkCapacity p{
    color: #454545;
    font-family: Lato;
    font-weight: 800;
    font-size: 16px;
    
}

.noBlocks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.transferFields{
    display: flex;
    justify-content: center;
    align-items: center ;
  width: 100%;
}

.transferFields h3{
    color: #454545;
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
}


.yearBlockTitle{
    color: #454545;
    font-family: Lato;
    font-weight: 800;
    font-size: 16px;
}

.noBlocks p{
    margin-bottom: 1rem;
    color: #454545;
    font-family: Lato;
    font-weight: 700;
}


.newWrapper, .currentWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    white-space: nowrap;
  
}

.arrowWrapper{
    height: 3rem;
    display: flex;
    align-items: end;
    transform: translate(18%, 25%);
    margin-right: 8px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottomButtons{

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 0rem;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
    width: 75vw;
}


.left{
    visibility: hidden;
}

.middle{
    display: flex;
    transform: translateX(20%);
}

/* @media screen and (max-width: 500px) {
    .topTable h2{
        color: rgb(62, 61, 61);
        font-family: Poppins;
        font-size: 1rem;
        font-weight: 600;
        margin: 0;
        padding: 0;
        margin-bottom: 0.8rem;
        margin-left: 0.8rem;
        white-space: nowrap;
    
    }    

    .left{
        display: none;
    }
} */

@media screen and (max-width: 700px) {

    .tableWrapper{
        height: 70vh;
    }
}
