
 .adminParent{
    height: 82svh;
    background: #f6f6f6;
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    width: 100vw;
    
}


.adminWrapper{
    
    background: #bbd3f6;
    height: 60vh;
    width: 60vw;
    z-index: 1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 0.4rem;
    overflow: hidden;
}


.leftAdmin{
    flex: 2;
    height: 100%;
} 

.rightAdmin{
   
    flex: 1;  
    height: 100%;
}

.leftAdmin{
    background: url(
        "../../assets/plm.png"
    ) no-repeat center;
    background-size: cover;
}
.adminWrapper{
    display: flex;
}

.logo{
    object-fit: cover;
    position: fixed;
    filter: grayscale(1) opacity(0.1);
    width: 50rem;
    top: 60%;
    right: -10%;
}

.logoAuth{
    width: 9rem;
    margin-bottom: 1rem;
}


.authTitleWrapper{
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0d4daa;
    box-shadow: 0 4px 2px -2px gray;
    
}

.authTitleWrapper h2{
    margin: 0;
    font-family: Poppins;
    color: #F0F0F0;
    font-weight: 600;
    text-align: center;
    font-size: 2rem;
}

.authWrapper{
    background: #ffffff;
    height: 85%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 2rem;
   
}

.rightAdminWrapper{
    height: 100%;
}




@media screen and (max-width: 500px) {
    .logoAuth{
        display: none;
    }
    .adminWrapper{
        
        background: white;
        height: 60vh;
        width: 75vw;
        z-index: 1;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
    .adminWrapper{
        overflow: scroll;
        flex-direction: column;
    }
    .authTitleWrapper h2{
        font-size: 1.2rem;
    }
    

    .rightAdmin{
        border-radius: 10px;
    }

    .leftAdmin{
        flex: 1;
        height: 100%;
        outline: 5px solid red;
    } 

    .rightAdmin{
        background: rgb(255, 255, 255);
        flex: 1;  
        height: 100%;
  
    
    }
    .shrink2{
        height: 86svh;
       }

}
