.dayName{
    display: flex;
    justify-content: center;
}
.Toastify__toast-container {
  z-index: 9999 !important;
}



.year-courseWrapper{
  display: flex;
  align-items: center;
}

  .buttonWrapper{
    display: flex;
    justify-content: space-between;
  }
.modal{
    margin: "0 auto";
    transform: "translateY(20%)";
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
.iconButton {
  width: 3rem;
  height: 3rem;
  margin-right: 7px;
  padding: 0px;
}

.iconButton:focus-visible {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}

.iconButton img {
  width: 1.95rem;
  height: 1.95rem;
}

.MuiTouchRipple-root {
  border-radius: 0 !important;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    
}

/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.6s;
}
.ripple:hover {
  background: #f5f5f5 radial-gradient(circle, transparent 1%, #f5f5f5 1%) center/15000%;
}
.ripple:active {
  background-color: #dadada;
  background-size: 100%;
  transition: background 0s;
}
.iconWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
outline: 1px solid #c4c4c4;
padding: 10.9px;
border-radius: 2px;
margin-left: 5px;
cursor: pointer;
}
.iconWrapper:hover{
  outline: 1px solid #000000;
}

.profModal {
  transform: scale(1.15); /* Change the value to adjust the scaling factor */
}
.profRoom {
  transform: scale(1.15); /* Change the value to adjust the scaling factor */
}
.profModalBoxParent{
  display: flex;
  min-width: none;
  justify-content: center;
  align-items: start; 
  /* padding: 30px 10px 20px 10px !important; */
  background: "#f6f6f6 ! ";

}
.roomModalBoxParent{
  display: flex;
  min-width: none;
  justify-content: center;
  align-items: start; 
  /* padding: 30px 10px 20px 10px !important; */
  background: "#f6f6f6 ! ";

}
/* SchedulerFaculty.module.css */
.tooltipContainer {
  width: 300px !important;
}


/* SchedulerFaculty.module.css */
.custom-toast {
  color: #fff;
  background: rgb(95, 56, 56);
  border-radius: 20px;
  font-family: Poppins;
  
}


@media screen and (max-width: 800px) {
  .profModal {
    transform: scale(1); /* Change the value to adjust the scaling factor */
  }
}