.dayName{
    display: flex;
    justify-content: center;
}






  
.modal{
    margin: "0 auto";
    transform: "translateY(20%)";
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}


.wrapper{
    display: flex;
    flex: 1;
    
}
